/* GenderSelection.css */
.audience-selection-container {
    /* Use flexbox for layout */
    position:absolute;
    display: flex;
    justify-content: space-around; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    /* You can add `flex-direction: column;` if you want the buttons to stack vertically */
    top: 615px;
    left: 163px;
    font-size: 16px;
    
  }
  
  
  .audience-button {
      /* Add shared button styling here */
      display: inline-block;
      padding: 15px;
      margin: 0 35px;
      border: none; /* black border */
      cursor: pointer; /* Indicates the label is clickable */
      user-select: none; /* Prevent text selection */
      border-radius: 10px;
      width: 100px;
  }
  .audience-button:hover {
    background-color: #dbd4d4; /* The blue color you want on hover */
    cursor: pointer; 
  }
    .audience-button.selected {
      background-color: #a1a1a1; /* Gray background for the selected button */
      color: white;
      border-color: #808080;
      /* Other styles for selected state */
    }
    